<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>


<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <span class="fs-4"></span>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2026 Company, Inc</span>
  </div>

  
      <a class="text-body-secondary1" href="https://www.linkedin.com/in/dev-andrew-michael" target="https://www.linkedin.com/in/dev-andrew-michael">
        <i class="bi bi-linkedin" style="font-size: 24px;"></i>
      </a>
    

      <a class="text-body-secondary" href="https://github.com/andrewwmichaell" target="https://github.com/andrewwmichaell">
        <i class="bi bi-github" style="font-size: 24px;"></i>
      </a>
</footer>